node_modules
package-lock.json

checkpoints/

tfidf-results/
tfidf-logs/

scrap/
search/
store/

crawler-files/


# in case a student adds an ssh key to the repo
*.pem

store
log.txt
submission.zip

dist
stencil
